.taskColumn {
  display: flex;
  max-width: 28rem;
  flex-direction: column;
  margin-right: 5rem;
}

.columnTitle {
  color: var(--mediumgrey);
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.addColumnSection {
  display: flex;
  align-items: center;
  background-color: var(--darkgrey);
  padding: 0rem 2rem;
  margin-left: 2rem;
  cursor: pointer;
}

.addColumnSection h1 {
  color: var(--mediumgrey);
}
