.taskEdit_container {
  display: grid;
}

.taskEdit_button {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1rem;
  border-radius: 50px;
  border: none;
  outline: none;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.5rem;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.subtaskBtn {
  color: var(--mainpurple);
  cursor: pointer;
}

.subtaskBtnDark {
  background-color: var(--white);
}

.subtaskBtnLight {
  background-color: var(--lineslight);
}

.subtaskBtnLight:hover {
  background-color: var(--mainpurplehover) !important;
}

.btnControl {
  background-color: var(--mainpurple);
  color: var(--white);
  margin-bottom: 1rem;
  cursor: pointer;
}

.btnControl:hover {
  background-color: var(--mainpurplehover);
}

h3 {
  color: var(--white);
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

input {
  height: 4rem;
  padding: 0rem 1rem;
}

textarea {
  padding: 1rem;
  resize: none;
}

.btnDelete {
  background-color: var(--red);
  color: white;
}

.btnDelete:hover {
  background-color: var(--redhover);
}

.subtaskBtn:hover {
  background-color: var(--lineslight);
}

.taskError {
  color: red;

  font-size: var(--headerS);
  font-weight: 500;
}

.taskEditTitle {
  display: grid;
  margin-bottom: 2rem;
}
