.taskEdit_container {
  display: grid;
}

.taskEdit_title {
}

.taskEdit_description {
}

.taskEdit_subtasks {
}

.taskEdit_status {
}

.taskEdit_button {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1rem;
  border-radius: 50px;
  border: none;
  outline: none;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.5rem;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.subtaskBtn {
  background-color: var(--white);
  color: var(--mainpurple);
}

.btnControl {
  background-color: var(--mainpurple);
  color: var(--white);
  margin-bottom: 1rem;
}

.btnControl:hover {
  background-color: var(--mainpurple);
}

h3 {
  color: var(--white);
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

input {
  height: 4rem;
  padding: 0rem 1rem;
}

textarea {
  padding: 1rem;
  resize: none;
}
