.subtaskInput {
  margin-bottom: 0.5rem;
}

.taskEdit_subtaskContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cross {
  height: 1.5rem;
  width: 1.5rem;
  margin-bottom: 1rem;
  margin-left: 2rem;
  cursor: pointer;
}
